<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Auto created by codeAppend plugin -->
<mapper namespace="org.wx.dao.BalanceDao">

    <resultMap id="BalanceRM" type="org.wx.domain.Balance">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		<result property="money" column="money"/>
    </resultMap>

    <!-- all sql columns -->
    <sql id="columns">
         `id`,`name`,`age`,`money`
	</sql>
	
	<insert id="saveSingle">
		insert into user_balance (`name`,`age`,`money`)
		values (#{balanceSaveDTO.name},#{balanceSaveDTO.age},#{balanceSaveDTO.money});
	</insert>

	<update id="updateSingle">
		update user_balance set  name  = #{updateDTO.name}, age = #{updateDTO.age} , money = #{updateDTO.money} where id = #{updateDTO.id}
	</update>

	<delete id="del">
		delete from user_balance where  id = #{id}
	</delete>

	<select id="listBalance" resultType="org.wx.domain.Balance">
		select
			`id`,`name`,`age`,`money`
		from
			user_balance
		<where>
			<if test="queryDTO.name != null">
				and name  = #{queryDTO.name}
			</if>
			<if test="queryDTO.age != null">
				and age  = #{queryDTO.age}
			</if>
		</where>
	</select>
</mapper>